In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('rahvad.csv')
df.head()

,Aasta,Sugu,Maakond,Rahvused kokku,Eestlased,Muud rahvused,..venelased,..ukrainlased,..valgevenelased,..soomlased,..tatarlased,..lätlased,..poolakad,..juudid,..leedulased,..sakslased,..armeenlased,..aserbaidžaanid,Rahvus teadmata
0,2018,Mehed ja naised,Kogu Eesti,1319133,905677,398542,328864,23310,11598,7635,1926,2478,1694,1950,1928,2178,1566,1096,14914
1,2018,Mehed ja naised,Harju maakond,589610,352939,224721,183276,15285,7249,3066,1275,1069,994,1639,1201,934,1126,840,11950
2,2018,Mehed ja naised,..Tallinn,430805,228494,191397,157267,12514,6019,2335,1026,864,795,1468,941,757,962,708,10914
3,2018,Mehed ja naised,Hiiu maakond,9387,9210,145,61,17,9,15,0,6,1,1,2,7,0,0,32
4,2018,Mehed ja naised,Ida-Viru maakond,138266,24333,113550,102652,3273,2930,1178,441,255,327,122,252,351,194,111,383

In [14]:
maakond_names = [
    'Harju maakond', 'Hiiu maakond', 'Ida-Viru maakond', 'Jõgeva maakond',
    'Järva maakond', 'Lääne maakond', 'Lääne-Viru maakond', 'Põlva maakond',
    'Pärnu maakond', 'Rapla maakond', 'Saare maakond', 'Tartu maakond',
    'Valga maakond', 'Viljandi maakond', 'Võru maakond'
]

filtered_values = df[~df["Maakond"].isin(maakond_names)]

filtered_values.iloc[30:40]

,Aasta,Sugu,Maakond,Rahvused kokku,Eestlased,Muud rahvused,..venelased,..ukrainlased,..valgevenelased,..soomlased,..tatarlased,..lätlased,..poolakad,..juudid,..leedulased,..sakslased,..armeenlased,..aserbaidžaanid,Rahvus teadmata
147,2020,Mehed,..Tartu linn,43353,34289,8834,5914,500,119,346,31,171,51,43,67,166,66,61,230
151,2020,Mehed,Maakond teadmata,1153,329,222,124,11,3,32,1,16,2,6,3,3,0,2,602
152,2020,Naised,Kogu Eesti,699643,477879,217516,179647,12469,6644,4172,1060,1565,992,879,1051,1137,713,487,4248
154,2020,Naised,..Tallinn,238567,128150,107316,88039,6699,3379,1343,564,614,470,704,548,472,476,323,3101
166,2020,Naised,..Tartu linn,52770,42403,10202,7335,510,199,594,19,120,83,34,64,178,52,39,165
170,2020,Naised,Maakond teadmata,917,388,269,109,13,6,98,2,11,2,3,1,1,1,1,260
171,2021,Mehed ja naised,Kogu Eesti,1330068,914896,408033,322700,27254,11485,8479,1937,3572,1745,1898,2057,2570,1599,1408,7139
173,2021,Mehed ja naised,..Tallinn,438341,231228,203478,156670,15265,6059,3256,1055,1343,896,1421,1073,1154,1010,946,3635
185,2021,Mehed ja naised,..Tartu linn,95430,76614,18684,12805,1067,318,914,50,285,119,87,114,302,109,122,132
189,2021,Mehed ja naised,Maakond teadmata,3643,750,680,289,89,13,122,3,44,5,8,8,9,1,1,2213

In [25]:
import pandas as pd

# Load the dataset
df_path = "rahvad.csv"
df = pd.read_csv(df_path)

# Function to clean column names
def clean_column_name(name):
    # Remove leading ".." and capitalize the first letter
    name = name.lstrip('.').strip()  # Remove leading dots and any extra spaces
    return name.capitalize()

# Apply the function to each column name
df.columns = [clean_column_name(col) for col in df.columns]

# Save the updated DataFrame to a new CSV file
new_df_path = "rahvad_cleaned.csv"
df.to_csv(new_df_path, index=False)

print(f"Updated DataFrame saved to {new_df_path}")

Updated DataFrame saved to rahvad_cleaned.csv

In [53]:
df["Maakond"].unique()

array(['Kogu Eesti', 'Harju maakond', '..Tallinn', 'Hiiu maakond',
       'Ida-Viru maakond', 'Jõgeva maakond', 'Järva maakond',
       'Lääne maakond', 'Lääne-Viru maakond', 'Põlva maakond',
       'Pärnu maakond', 'Rapla maakond', 'Saare maakond', 'Tartu maakond',
       '..Tartu linn', 'Valga maakond', 'Viljandi maakond',
       'Võru maakond', 'Maakond teadmata'], dtype=object)

In [69]:
import pandas as pd

# Load the dataset
df_path = "rahvad_cleaned.csv"  # Use the cleaned CSV if available
df = pd.read_csv(df_path)

# Define the exact locations to filter
exact_locations_to_filter = ['..Tallinn', '..Tartu linn']

# Remove rows where 'Maakond' is exactly '..Tallinn' or '..Tartu linn'
df_filtered = df[~df['Maakond'].isin(exact_locations_to_filter)]

# Create a new DataFrame df_tt with only '..Tallinn' and '..Tartu linn'
df_tt = df[df['Maakond'].isin(exact_locations_to_filter)]

# Save the filtered DataFrame to a new CSV file
filtered_df_path = "rahvad_filtered.csv"
df_filtered.to_csv(filtered_df_path, index=False)

# Save the new DataFrame df_tt to a separate CSV file
df_tt_path = "rahvad_tt.csv"
df_tt.to_csv(df_tt_path, index=False)

print(f"Filtered DataFrame saved to {filtered_df_path}")
print(f"DataFrame with Tallinn and Tartu saved to {df_tt_path}")

Filtered DataFrame saved to rahvad_filtered.csv
DataFrame with Tallinn and Tartu saved to rahvad_tt.csv

In [71]:
df_tt

,Aasta,Sugu,Maakond,Rahvused kokku,Eestlased,Muud rahvused,Venelased,Ukrainlased,Valgevenelased,Soomlased,Tatarlased,Lätlased,Poolakad,Juudid,Leedulased,Sakslased,Armeenlased,Aserbaidžaanid,Rahvus teadmata
2,2018,Mehed ja naised,..Tallinn,430805,228494,191397,157267,12514,6019,2335,1026,864,795,1468,941,757,962,708,10914
14,2018,Mehed ja naised,..Tartu linn,96506,76795,19159,13604,949,333,917,54,228,143,84,135,442,110,63,552
21,2018,Mehed,..Tallinn,194273,100040,87111,69784,6156,2617,1221,460,404,345,744,432,436,517,425,7122
33,2018,Mehed,..Tartu linn,43319,34276,8762,6070,469,128,322,33,111,50,44,59,209,59,38,281
40,2018,Naised,..Tallinn,236532,128454,104286,87483,6358,3402,1114,566,460,450,724,509,321,445,283,3792
52,2018,Naised,..Tartu linn,53187,42519,10397,7534,480,205,595,21,117,93,40,76,233,51,25,271
59,2019,Mehed ja naised,..Tallinn,434562,228821,193087,157696,12717,5983,2449,1020,951,778,1450,985,783,983,752,12654
71,2019,Mehed ja naised,..Tartu linn,96974,76846,19396,13458,990,337,935,55,252,143,83,140,472,114,91,732
78,2019,Mehed,..Tallinn,196700,100331,88144,69980,6291,2587,1322,457,452,345,743,463,446,521,456,8225
90,2019,Mehed,..Tartu linn,43709,34379,8966,6039,496,126,338,33,137,47,44,61,220,61,58,364
97,2019,Naised,..Tallinn,237862,128490,104943,87716,6426,3396,1127,563,499,433,707,522,337,462,296,4429
109,2019,Naised,..Tartu linn,53265,42467,10430,7419,494,211,597,22,115,96,39,79,252,53,33,368
116,2020,Mehed ja naised,..Tallinn,437619,228845,199685,158588,13559,6021,2998,1034,1255,851,1419,1052,1034,997,825,9089
128,2020,Mehed ja naised,..Tartu linn,96123,76692,19036,13249,1010,318,940,50,291,134,77,131,344,118,100,395
135,2020,Mehed,..Tallinn,199052,100695,92369,70549,6860,2642,1655,470,641,381,715,504,562,521,502,5988
147,2020,Mehed,..Tartu linn,43353,34289,8834,5914,500,119,346,31,171,51,43,67,166,66,61,230
154,2020,Naised,..Tallinn,238567,128150,107316,88039,6699,3379,1343,564,614,470,704,548,472,476,323,3101
166,2020,Naised,..Tartu linn,52770,42403,10202,7335,510,199,594,19,120,83,34,64,178,52,39,165
173,2021,Mehed ja naised,..Tallinn,438341,231228,203478,156670,15265,6059,3256,1055,1343,896,1421,1073,1154,1010,946,3635
185,2021,Mehed ja naised,..Tartu linn,95430,76614,18684,12805,1067,318,914,50,285,119,87,114,302,109,122,132
192,2021,Mehed,..Tallinn,199669,101936,95235,69548,8104,2667,1840,482,712,414,720,519,618,540,575,2498
204,2021,Mehed,..Tartu linn,43085,34278,8727,5712,536,117,322,31,157,43,48,57,150,63,80,80
211,2021,Naised,..Tallinn,238672,129292,108243,87122,7161,3392,1416,573,631,482,701,554,536,470,371,1137
223,2021,Naised,..Tartu linn,52345,42336,9957,7093,531,201,592,19,128,76,39,57,152,46,42,52
230,2022,Mehed ja naised,..Tallinn,437811,233518,199975,149878,15449,6153,3431,1033,1500,940,1405,1092,1219,1043,1029,4318
242,2022,Mehed ja naised,..Tartu linn,98312,79131,18923,12582,1128,308,910,48,270,136,82,111,308,122,168,258
249,2022,Mehed,..Tallinn,205056,106726,95104,67208,8239,2758,1984,481,804,438,718,540,692,556,628,3226
261,2022,Mehed,..Tartu linn,46160,36929,9037,5727,582,113,314,27,145,55,44,50,163,70,113,194
268,2022,Naised,..Tallinn,232755,126792,104871,82670,7210,3395,1447,552,696,502,687,552,527,487,401,1092
280,2022,Naised,..Tartu linn,52152,42202,9886,6855,546,195,596,21,125,81,38,61,145,52,55,64
287,2023,Mehed ja naised,..Tallinn,453864,235633,212387,145495,28775,6218,3520,1046,1638,973,1469,1121,1319,1136,1187,5844
299,2023,Mehed ja naised,..Tartu linn,100724,79134,21179,12053,3640,313,904,52,284,148,82,113,334,122,154,411
306,2023,Mehed,..Tallinn,211744,108025,99893,65194,13030,2802,2048,491,898,460,765,556,747,591,738,3826
318,2023,Mehed,..Tartu linn,47146,36919,9895,5471,1550,121,304,29,151,62,42,48,177,74,102,332
325,2023,Naised,..Tallinn,242120,127608,112494,80301,15745,3416,1472,555,740,513,704,565,572,545,449,2018
337,2023,Naised,..Tartu linn,53578,42215,11284,6582,2090,192,600,23,133,86,40,65,157,48,52,79
344,2024,Mehed ja naised,..Tallinn,457572,237832,215122,139835,35355,6178,3504,1047,1702,940,1514,1102,1288,1174,1260,4618
356,2024,Mehed ja naised,..Tartu linn,101032,78890,21771,11317,4918,307,871,54,293,143,79,123,347,123,156,371
363,2024,Mehed,..Tallinn,213623,109183,101445,62500,16190,2793,2074,503,946,443,789,557,748,617,791,2995
375,2024,Mehed,..Tartu linn,47190,36817,10081,5070,2138,119,295,31,147,59,42,56,184,73,101,292
382,2024,Naised,..Tallinn,243949,128649,113677,77335,19165,3385,1430,544,756,497,725,545,540,557,469,1623
394,2024,Naised,..Tartu linn,53842,42073,11690,6247,2780,188,576,23,146,84,37,67,163,50,55,79

In [ ]:
# Save the filtered DataFrame to a new CSV file
filtered_df_path = "rahvad_filtered.csv"
df_filtered.to_csv(filtered_df_path, index=False)